<ion-view view-title="{{product.name}}" ng-controller="EditImageAppCtrl">
  <ion-content class="padding" scroll="true"> 
       <div class="row">
        </div>     
        <!-- main draw area -->
        <div class="frame-wrapper row">
            <canvas id="canvas-content">
            </canvas>
            <video id="take-picture-video" src=""></video>
            <canvas id="take-picture-canvas" class="take-picture-frame">
            </canvas>
            <input type="file" id="take-picture-input" accept="image/*">
        </div>
        <div class="row"></div>
        <!-- end main draw area -->
        <div class="frame-action row" ng-show="isWaitForTake">
            <button id="take-picture-btn" class="col-100 button button-full button-balanced" ng-click="takePhoto()">
                撮影
            </button>
        </div>

        <div class="frame-action row" ng-show="isPhotoTaken">
            <button id="retake-picture-btn" class="col-50 button button-full button-balanced" ng-click="retakePhoto()">
                再撮影
            </button>
            <button id="decided-picture-btn" class="col-50 button button-full button-assertive" ng-click="deciedPhoto()">
                決定
            </button>
        </div>
  </ion-content> 
  <div>
    <!-- action panel -->

    <div class="bar bar-subfooter action-bar">

        <div style="position:relative; width=100%"></div>

        <!-- camera -->
        <div class="action-panel fadein fadeout camera-buttons" ng-show="shouldShowAction('takePicture')">

        <!--ng-if="!isMobile()" -->

          <div class="row action-panel" ng-show="!isMobile()">
            <button id="start-camera-btn"  class="col-50 button icon ion-camera button-full button-assertive"></button>
            <button id="upload-picture-btn" class="col-50 button icon ion-ios-browsers button-full button-energized"></button>

          </div>
          <button id="pool-picture-btn" class="col-100 button icon ion-camera button-full button-energized" ng-show="isMobile()"></button>
        </div>
        <!-- end camera-->

        <!-- filter -->
         <div class="action-panel fadein fadeout filter-buttons" ng-show="shouldShowAction('filter')">
            <div class="background"></div>
            <div class="tabs tabs-icon-only">
                <a ng-repeat="filter in filters" ng-click="applyFilter($index)" class="tab-item" href="#" ng-class="{active: activeFilterIndex == $index}">
                    <img  ng-src="{{filter.src}}" title="{{filter.name}}"/>
                </a>
            </div>
        </div> 
        <!-- end filter-->

       <!-- frame -->
       <div class="action-panel fadein fadeout frame-buttons" ng-show="shouldShowAction('frame')">
          <div class="background"></div>
          <div class="tabs tabs-icon-only">
              <a ng-repeat="frame in frames" ng-click="applyFrame($index)" class="tab-item" href="#" ng-class="{active: activeFrameIndex == $index}">
                  <img  ng-src="{{frame.src}}" title="{{frame.name}}"/>
              </a>
              
          </div>
      </div> 
       <!-- end frame -->

       <!-- sticker -->
       <sticker-buttons></sticker-buttons>
       <!-- end sticker -->


       <!-- text setting button -->
       <div>
       </div ng-show="!isMobile()">
       <text-setting></text-setting>
        </div>
        <!-- end text setting button -->
    </div> <!-- end action panel -->
     
    <!-- footer bar --> 
    <div class="bar bar-footer">
        <ion-tabs class="tabs-positive tabs-icon-top">

        <ion-tab title="カメラ" icon-on="ion-camera" icon-off="ion-camera" ng-click="selectTabWithIndex(0)">
        </ion-tab>

        <ion-tab title="フレーム" icon-on="ion-ios-crop-strong" icon-off="ion-ios-crop" ng-click="selectTabWithIndex(1)">
        </ion-tab>

        <ion-tab title="スタンプ" icon-on="ion-ios-star" icon-off="ion-ios-star" ng-click="selectTabWithIndex(2)">
        </ion-tab>
        <ion-tab title="文字入れ" icon-on="ion-social-tumblr" icon-off="ion-social-tumblr-outline" ng-click="selectTabWithIndex(3)">
         
        </ion-tab>
        <ion-tab title="完成地図" icon-on="ion-eye" icon-off="ion-eye" ng-click="selectTabWithIndex(4)">
        </ion-tab>
        </ion-tabs>
   </div>
   <!--end footer bar -->
 </div>
</ion-view>