<ion-view view-title="{{product.name}}" ng-controller="EditImageAppCtrl">
  
  <ion-nav-buttons side="right">
      <button id="undo-btn" class="button undo-btn" ng-disabled="!shouldShowHistory()" ng-click="startUndo()">
      </button>
  </ion-nav-buttons>

  <ion-content class="draw-content-view" scroll="false"> 



        <!-- main draw area -->
        <div class="row" id="frame-wrapper" ng-show="!shouldShowPreview()">
            <div ng-model="usingWebcam" ng-show="!usingWebcam">
              <canvas id="canvas-content"></canvas>
            </div>
            <canvas id="take-picture-canvas" ng-show="usingWebcam" ng-model="usingWebcam"></canvas>
            <video id="take-picture-video" src="" ng-hidden></video>
            <input type="file" id="take-picture-input" accept="image/*" ng-hidden>
        </div>
        <div class="row"  id="preview-wrapper" ng-show="shouldShowPreview()">
          <canvas id="canvas-preview"></canvas>
        </div>
        <!-- end main draw area -->


        <!-- tool-bar buttons -->
        <div class="frame-action row" ng-show="usingWebcam" ng-model="usingWebcam">
            <button id="take-picture-btn" class="col-100 button button-full button-balanced">
                撮影
            </button>
        </div>

        <div class="frame-action row" ng-show="isSelectOther()">
            <button id="retake-picture-btn" class="col-100 button action-reselect-image-btn">
            </button>
        </div>


        <div class="frame-action row" ng-show="shouldShowWidgetToolBars()">
            <button id="remove-widget-btn" class="col-100 button button-full button-assertive">
                削除
            </button>
        </div>


                <!-- camera -->
        <div class="frame-action row" ng-show="shouldShowTakePictureToolBars()">
          <div class="row" ng-show="!isMobile()">
            <div class="col-100" style="text-align: center; width: 100%">
              <button id="start-camera-btn"  class="button action-take-camera-btn"></button>
              <button id="upload-picture-btn" class="button action-take-folder-btn"></button>
            </div>
          </div>
          <div class="row" ng-show="isMobile()">
              <button id="rool-picture-btn" class="button action-rool-btn"></button>
          </div>
        </div>
        <!-- end camera-->
        
        <div class="frame-action row" ng-show="shouldShowPreviewToolBars()">
            <button id="decided-design-btn" class="col-100 button button-full decided-design-btn">
               
            </button>

        </div>

           <!-- text setting button -->
        <div class="frame-action text-setting row" ng-show="shouldShowTextSettingBar()">
            <div class="col-100 row">
                  <a href="#" class="text-color-item {{textColor.styleColumn()}} {{textColor.activeClassFor(color)}}" ng-repeat="color in textColor.colors" style="background-color: {{color.code}}"  ng-click="textColor.select(color)"></a>
            </div>
            <ion-panel>
            <ion-content class="content-x" scroll="true">
                <ul class="list">
                     <li 
                     ng-repeat="font in fontFamily.fontJP()"  
                     ng-class="{active: fontFamily.value==font}"  
                     style="font-family: {{font.family}}" 
                     ng-click="fontFamily.select(font)" 
                     class="item {{fontFamily.itemClassFor(font)}}" >
                           {{font.displayName}}
                     </li>
                     <li class="item item-divider" >
                       【英語のみ】
                     </li>
                     <li 
                     ng-repeat="font in fontFamily.fontEN()"  
                     ng-class="{active: fontFamily.value==font}"  
                     style="font-family: {{font.family}}" 
                     ng-click="fontFamily.select(font)" 
                     class="item {{fontFamily.itemClassFor(font)}}" >
                           {{font.displayName}}
                     </li>

                     <li class="item blank" ></li>
                     <li class="item blank" ></li>
                 </ul>
            </ion-content>
            </ion-panel>
        </div>
        <!-- end text setting button -->
        <!-- end tool bar buttons -->
  </ion-content> 
  <div>
    <!-- action panel -->

    <div class="bar bar-subfooter" ng-class="actionBarClassName">

        <div style="position:relative; width=100%"></div>
        <!-- filter -->
        <div class="action-panel sticker-buttons" ng-show="shouldShowAction('filter', 0)">
              <div class="background"></div>
               <div class="row"
                 <ion-content class="content-x col-100" scroll="true">
                  <ion-scroll direction="x" class="wide-as-needed">
                      <div ng-repeat="filter in filters" 
                           ng-click="applyFilter($index)"
                           ng-class="{active: activeFilterIndex == $index}" 
                           class="tab-item">
                           <img  ng-src="{{filter.src}}" 
                                 title="{{filter.name}}"/>
                           <div class="caption">{{filter.name}}</div>
                      </div>
                  </ion-scroll>
                  </ion-content>
              </div>
        </div> 

        <!-- end filter-->

       <!-- frame -->
       <div class="action-panel sticker-buttons" ng-show="shouldShowAction('frame', 1)">
    		    <div class="background"></div>
             <div class="row"
               <ion-content class="content-x col-100" scroll="true">
                <ion-scroll direction="x" class="wide-as-needed">
                    <img ng-repeat="frame in frames" 
                         ng-click="applyFrame($index)"
                         ng-class="{active: activeFrameIndex == $index}" 
                         ng-src="{{frame.src}}" 
                         title="{{frame.name}}" 
                         class="tab-item"/>
                </ion-scroll>
                </ion-content>
            </div>
		  </div> 
       <!-- end frame -->

       <!-- sticker -->
      <div class="action-panel sticker-buttons" ng-show="shouldShowAction('sticker', 2)">
    			<div class="background"></div>
    			<div class="row"
        	   <ion-content class="content-x col-100" scroll="true">
        			<ion-scroll direction="x" class="wide-as-needed">
        			    <img ng-repeat="sticker in stickers" 
                       ng-click="addSticker(sticker.id)" 
                       ng-src="{{sticker.src}}" 
                       title="{{sticker.name}}" 
                       class="tab-item"/>
        			</ion-scroll>
        			</ion-content>
    			</div>
		  </div>
       <!-- end sticker -->

    </div> <!-- end action panel -->
     
    <!-- footer bar --> 
    <div class="bar bar-footer">
        <ion-tabs class="tabs-positive ">

        <ion-tab class="tab-icon-background {{tabIconWithIndex(0)}}" ng-click="selectTabWithIndex(0)">
        </ion-tab>

        <ion-tab class="tab-icon-background {{tabIconWithIndex(1)}}" ng-click="selectTabWithIndex(1)">
        </ion-tab>

        <ion-tab class="tab-icon-background {{tabIconWithIndex(2)}}" ng-click="selectTabWithIndex(2)">
        </ion-tab>
        <ion-tab class="tab-icon-background {{tabIconWithIndex(3)}}" ng-click="selectTabWithIndex(3)">
         
        </ion-tab>
        <ion-tab class="tab-icon-background {{tabIconWithIndex(4)}}" ng-click="selectTabWithIndex(4)">
        </ion-tab>
        </ion-tabs>
   </div>
   <!--end footer bar -->
 </div>
</ion-view>