<ion-view view-title="商品一覧">
  <ion-content>
    <ion-list>
      <ion-item class="item item-thumbnail-left item-complex product-item" ng-repeat="product in products" type="item-text-wrap" href="#/products/{{product.id}}">
        <img ng-src="{{product.thumbnail}}" class="full-image" style="width: 138px; height: 98px;">
        <h2 class="product-name">{{product.name}}</h2>
        <p class="product-detail item-text-wrap">{{product.detail}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>