<ion-view view-title="{{product.name}}" ng-controller="EditImageAppCtrl">
  <ion-content class="draw-content-view" scroll="false"> 
        <!-- main draw area -->
        <div class="row" id="frame-wrapper" ng-show="!shouldShowPreview()">
            <div ng-model="usingWebcam" ng-show="!usingWebcam">
              <canvas id="canvas-content"></canvas>
            </div>
            <canvas id="take-picture-canvas" ng-show="usingWebcam" ng-model="usingWebcam"></canvas>
            <video id="take-picture-video" src="" ng-hidden></video>
            <input type="file" id="take-picture-input" accept="image/*" ng-hidden>
        </div>
        <div class="row"  id="preview-wrapper" ng-show="shouldShowPreview()">
          <canvas id="canvas-preview"></canvas>
        </div>
        <!-- end main draw area -->

        <!-- tool-bar buttons -->
        <div class="frame-action row" ng-show="usingWebcam" ng-model="usingWebcam">
            <button id="take-picture-btn" class="col-100 button button-full button-balanced">
                撮影
            </button>
        </div>

        <div class="frame-action row" ng-show="shouldShowPictureToolBars()">
            <button id="retake-picture-btn" class="col-50 button button-full button-balanced">
                再撮影
            </button>
            <button id="decided-picture-btn" class="col-50 button button-full button-assertive">
                決定
            </button>
        </div>
        <div class="frame-action row" ng-show="shouldShowPreviewToolBars()">
            <button id="decided-design-btn" class="col-100 button button-full button-assertive">
                このデザインにする！
            </button>

        </div>
         <div class="row" style="text-align:center" id="download">
         </div>

        <!-- end tool bar buttons -->
  </ion-content> 
  <div>
    <!-- action panel -->

    <div class="bar bar-subfooter" ng-class="actionBarClassName">

        <div style="position:relative; width=100%"></div>

        <!-- camera -->
        <div class="action-panel fadein fadeout camera-buttons" ng-show="shouldShowAction('takePicture', 0)">
          <div class="row action-panel" ng-show="!isMobile()">
            <button id="start-camera-btn"  class="col-50 button icon ion-camera button-full button-assertive"></button>
            <button id="upload-picture-btn" class="col-50 button icon ion-ios-browsers button-full button-energized"></button>
          </div>
          <div class="row action-panel" ng-show="isMobile()">
              <button id="rool-picture-btn" class="col-100 button icon ion-camera button-full button-energized"></button>
          </div>
        </div>
        <!-- end camera-->

        <!-- filter -->
         <div class="action-panel fadein fadeout filter-buttons" ng-show="shouldShowAction('filter', 0)">
            <div class="background"></div>
            <div class="tabs tabs-icon-only">
                <a ng-repeat="filter in filters" ng-click="applyFilter($index)" class="tab-item" href="#" ng-class="{active: activeFilterIndex == $index}">
                    <img  ng-src="{{filter.src}}" title="{{filter.name}}"/>
                </a>
            </div>
        </div> 
        <!-- end filter-->

       <!-- frame -->
       <div class="action-panel fadein fadeout frame-buttons" ng-show="shouldShowAction('frame', 1)">
		    <div class="background"></div>
		    <div class="tabs tabs-icon-only">
		        <a ng-repeat="frame in frames" ng-click="applyFrame($index)" class="tab-item" href="#" ng-class="{active: activeFrameIndex == $index}">
		            <img  ng-src="{{frame.src}}" title="{{frame.name}}"/>
		        </a>
		    </div>
		</div> 
       <!-- end frame -->

       <!-- sticker -->
       <div class="action-panel fadein fadeout sticker-buttons" ng-show="shouldShowAction('sticker', 2)">
			<div class="background"></div>


			<div class="row"
	   <ion-content class="content-x col-90" scroll="true">
			<ion-scroll direction="x" class="wide-as-needed">
			<img ng-repeat="sticker in stickers" ng-click="addSticker(sticker.id)" ng-src="{{sticker.src}}" title="{{sticker.name}}" class="tab-item"/>
			</ion-scroll>
			</ion-content>

			<div class="col-10">
			    <button class="button-sticker-more button ion-navicon button-balanced button-full " ng-click="showStickers()">
			 </button>
			</div>

			</div>
		</div>
       <!-- end sticker -->


           <!-- text setting button -->
       <div class="action-panel fadein fadeout" ng-show="shouldShowAction('text-setting', 3)">
             
             <div ng-show="!fontSetting.isTyping" ng-model="fontSetting.isTyping"> <!-- setting panel -->

                       <div class="row text-settting-info" >
                         <div class="fadein fadeout message" ng-show="fontSetting.changed" ng-model="fontSetting.changed">
                           <p style="font-size:{{fontSize.valueText()}}; font-family: {{fontFamily.value.family}}; color: {{textColor.colorCode()}}; opacity: {{fontOpacity.valueFloat()}}">{{fontSetting.lastChangeMessage || ''}}</p>
                         </div>
                       </div>
                       
                       <div class="row font-setting-row-1">
                           <div class="col-40">
                               <div class="range range-positive">
                                <input type="range" name="fontSize" min="{{fontSize.min}}" max="{{fontSize.max}}" value="{{fontSize.value}}" step="{{fontSize.step}}" ng-model="fontSize.value">
                              </div>
                          </div>

                          <div class="col-40">
                               <div class="range range-energized">
                                <input type="range" name="fontOpacity" min="{{fontOpacity.min}}" max="{{fontOpacity.max}}" value="{{fontOpacity.value}}" step="{{fontOpacity.step}}" ng-model="fontOpacity.value">
                              </div>
                          </div>

                          <div class="col-20">
                              <button class="setting-text-done-btn button ion-android-done  button-assertive button-full " ng-click="doneSettingText()">
                               </button>
                           </div>
                      </div> 

                      <div class="row font-setting-row-2">
                          <div class="col-10 color-preview-wrapper">
                             <div class="col-100 color-preview " style="background-color: {{textColor.colorCode()}}"></div>
                          </div>
                          <div class="col-90 text-color-wrapper">

                              <div class="range text-color-range">
                                  <input type="range" name="textColor" min="{{textColor.min}}" max="{{textColor.max}}" value="textColor.value" step="{{textColor.step}}" ng-model="textColor.value">
                               </div>
                              <div class="text-color-background row">
                                 <a href="#" class="text-color-item {{textColor.styleColumn()}} {{textColor.activeClassFor(color)}}" ng-repeat="color in textColor.colors" style="background-color: {{color.code}}"  ng-click="textColor.select(color)"></a>
                             </div>

                             </div>
                      </div> 

                      <div class="row font-setting font-setting-row-3">

                      <ion-content class="content-x col-100" scroll="true">
                          <ul class="list">
                               <li class="item" ng-repeat="font in fontFamily.fonts" ng-click="fontFamily.select(font)">
                               <a href="#" class="item" ng-class="{active: fontFamily.value==font}"  style="font-family: {{font.family}}" 
                                     >
                                     {{font.displayName}}
                               </a>
                               </li>
                           </ul>
                      </ion-content>
                      </div>
                  </div> <!-- end setting panel -->

                  <div ng-show="fontSetting.isTyping" ng-model="fontSetting.isTyping" class="row">
                     <button class="col-100 button button-full button-balanced" ng-click="addNewText()">テキスト追加</button>
                  </div>

        </div>
        <!-- end text setting button -->
    </div> <!-- end action panel -->
     
    <!-- footer bar --> 
    <div class="bar bar-footer">
        <ion-tabs class="tabs-positive tabs-icon-top">

        <ion-tab title="カメラ" icon-on="ion-camera" icon-off="ion-camera" ng-click="selectTabWithIndex(0)">
        </ion-tab>

        <ion-tab title="フレーム" icon-on="ion-ios-crop-strong" icon-off="ion-ios-crop" ng-click="selectTabWithIndex(1)">
        </ion-tab>

        <ion-tab title="スタンプ" icon-on="ion-ios-star" icon-off="ion-ios-star" ng-click="selectTabWithIndex(2)">
        </ion-tab>
        <ion-tab title="文字入れ" icon-on="ion-social-tumblr" icon-off="ion-social-tumblr-outline" ng-click="selectTabWithIndex(3)">
         
        </ion-tab>
        <ion-tab title="完成地図" icon-on="ion-eye" icon-off="ion-eye" ng-click="selectTabWithIndex(4)">
        </ion-tab>
        </ion-tabs>
   </div>
   <!--end footer bar -->
 </div>
</ion-view>