<div class="content-area-wrapper">
    <!-- main draw area -->
    <div class="frame-wrapper row">
        <canvas id="canvas-content">
		</canvas>
		<video id="take-picture-video" src=""></video>
		<canvas id="take-picture-canvas" class="take-picture-frame">
		</canvas>
	</div>

	<!-- end main draw area -->
    
    <div class="frame-action row" ng-show="isWaitForTake">
		<button id="take-picture-btn" class="col-100 button button-full button-balanced" ng-click="takePhoto()">
			撮影
		</button>
	</div>

	<div class="frame-action row" ng-show="isTaken">
		<button id="retake-picture-btn" class="col-50 button button-full button-balanced" ng-click="retakePhoto()">
			再撮影
		</button>
		<button id="decided-picture-btn" class="col-50 button button-full button-assertive" ng-click="deciedPhoto()">
			決定
		</button>
	</div>
   
	<div class="row" ng-if="debug">

	<button id="uploadme-picture-btn" class="col-100 button button-full button-balanced" ng-click="startUpload()">
		UPLOAD
	</button>
	</div>
	<div class="row">
		<input type="file" id="take-picture-input" accept="image/*">
	</div>
</div>